/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.codekit-cache
.idea
.phpstorm.meta.php
.vscode
_ide_helper.php
config.codekit*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
